.command-console{
    background-color: #000;
    border-radius: 12px;
    width: 30%;
}

.cc-header{
    background-color: var(--surface-bright);
    color: var(--text-secondary);
    border-radius: 12px 12px 0 0;
    padding: 4px 8px;
    font-size: 12px;
}

.cc-input{
    background: none;
}

#command-in{
    background: none;
    border: none;
    color: var(--primary);
    outline: none;
    flex: 1;
    resize: none;
    font-size: 13px;
    padding: 0 4px;
    /* debugging */
    /* background-color: red; */
}


.cc-line{
    display: flex;
    color: var(--primary);
    font-size: 12px;
}

.cc-line p{
    margin: 0;
    padding: 0 4px;
}